.icon-lhs { background-image: url(./sprite.png);background-size: 1820px 1484px;}
.icon-lhs-article-1 { width: 104px; height: 104px; background-position: -1380px -920px; }
.icon-lhs-article-2 { width: 104px; height: 104px; background-position: -1504px -920px; }
.icon-lhs-article-3 { width: 104px; height: 104px; background-position: -1628px -920px; }
.icon-lhs-article-4 { width: 104px; height: 104px; background-position: -1380px -1044px; }
.icon-lhs-article-5 { width: 104px; height: 104px; background-position: -1504px -1044px; }
.icon-lhs-article-6 { width: 104px; height: 104px; background-position: -1628px -1044px; }
.icon-lhs-article-7 { width: 104px; height: 104px; background-position: -1380px -1168px; }
.icon-lhs-article-8 { width: 104px; height: 104px; background-position: -1504px -1168px; }
.icon-lhs-article-9 { width: 104px; height: 104px; background-position: -1628px -1168px; }
.icon-lhs-article-default { width: 104px; height: 104px; background-position: 0px -1380px; }
.icon-lhs-head-1 { width: 440px; height: 440px; background-position: 0px 0px; }
.icon-lhs-head-10 { width: 440px; height: 440px; background-position: -460px 0px; }
.icon-lhs-head-2 { width: 440px; height: 440px; background-position: 0px -460px; }
.icon-lhs-head-3 { width: 440px; height: 440px; background-position: -460px -460px; }
.icon-lhs-head-4 { width: 440px; height: 440px; background-position: -920px 0px; }
.icon-lhs-head-5 { width: 440px; height: 440px; background-position: -920px -460px; }
.icon-lhs-head-6 { width: 440px; height: 440px; background-position: 0px -920px; }
.icon-lhs-head-7 { width: 440px; height: 440px; background-position: -460px -920px; }
.icon-lhs-head-8 { width: 440px; height: 440px; background-position: -920px -920px; }
.icon-lhs-head-9 { width: 440px; height: 440px; background-position: -1380px 0px; }
.icon-lhs-head-default { width: 440px; height: 440px; background-position: -1380px -460px; }