.icon-lhs { background-image: url(./sprite.png);background-size: 595px 347px;}
.icon-lhs-favicon { width: 32px; height: 32px; background-position: 0px -315px; }
.icon-lhs-logo { width: 280px; height: 280px; background-position: -315px 0px; }
.icon-lhs-weixin { width: 295px; height: 295px; background-position: 0px 0px; }