@font-face {
  font-family: "iconfont"; /* Project id 2940247 */
  src: url('iconfont.woff2?t=1679144418508') format('woff2'),
       url('iconfont.woff?t=1679144418508') format('woff'),
       url('iconfont.ttf?t=1679144418508') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongpeizhi:before {
  content: "\e686";
}

.icon-chengxvpeizhi:before {
  content: "\e619";
}

.icon-json:before {
  content: "\e7bd";
}

.icon-daima:before {
  content: "\e66a";
}

.icon-fenlei:before {
  content: "\e643";
}

.icon-chubufenlei:before {
  content: "\e663";
}

.icon-rizhifuwu:before {
  content: "\e669";
}

.icon-wenzi:before {
  content: "\e883";
}

.icon-bianji:before {
  content: "\e621";
}

.icon-bianjibiaoge:before {
  content: "\eabc";
}

.icon-xinzeng:before {
  content: "\e632";
}

.icon-excel:before {
  content: "\e6a5";
}

.icon-pdf:before {
  content: "\e740";
}

.icon-CSS:before {
  content: "\e614";
}

.icon-HTML:before {
  content: "\e617";
}

.icon-js:before {
  content: "\ec68";
}

.icon-qitawenjian:before {
  content: "\e683";
}

.icon-file-ppt:before {
  content: "\e7b9";
}

.icon-file-word:before {
  content: "\e7ba";
}

.icon-yasuobao:before {
  content: "\e64d";
}

.icon-tupian:before {
  content: "\e63d";
}

.icon-file-markdown:before {
  content: "\e95e";
}

.icon-badge-fill:before {
  content: "\e9fe";
}

.icon-badge-line:before {
  content: "\ea0c";
}

.icon-a-boxminus-line:before {
  content: "\ea22";
}

.icon-bug-fill:before {
  content: "\ea69";
}

.icon-a-documentationupload-line:before {
  content: "\eb69";
}

.icon-a-Downloadto-fill:before {
  content: "\eb70";
}

.icon-exit-line:before {
  content: "\eb8d";
}

.icon-girl-line:before {
  content: "\ec38";
}

.icon-interactive-fill:before {
  content: "\eca7";
}

.icon-man-line:before {
  content: "\ed11";
}

.icon-a-lefttoo-line:before {
  content: "\ed17";
}

.icon-pen-fill:before {
  content: "\eda5";
}

.icon-remind-line:before {
  content: "\ee11";
}

.icon-a-rightlinefill-line:before {
  content: "\ee19";
}

.icon-robot-line:before {
  content: "\ee35";
}

.icon-rocket-fill:before {
  content: "\ee3a";
}

.icon-a-smartrobot-fill:before {
  content: "\ef09";
}

.icon-star-fill:before {
  content: "\ef0b";
}

.icon-star-line:before {
  content: "\ef14";
}

.icon-think-fill:before {
  content: "\ef91";
}

.icon-trophy-fill:before {
  content: "\efa6";
}

.icon-a-unfoldcross-line:before {
  content: "\efb5";
}

.icon-bianji-yonghu:before {
  content: "\efc6";
}

.icon-tianjia-yonghu:before {
  content: "\efc7";
}

.icon-a-leftsmallline-line:before {
  content: "\f010";
}

.icon-a-rightsmallline-line:before {
  content: "\f011";
}

.icon-a-upsmall-line:before {
  content: "\f012";
}

.icon-a-undersmall-line:before {
  content: "\f013";
}

.icon-tag:before {
  content: "\e61c";
}

.icon-tianjia:before {
  content: "\e65b";
}

.icon-paixu:before {
  content: "\e7e9";
}

.icon-tuichu:before {
  content: "\e62c";
}

.icon-md-menu:before {
  content: "\e9b8";
}

.icon-md-reorder:before {
  content: "\e9e8";
}

.icon-md-rocket:before {
  content: "\e9f8";
}

.icon-md-search:before {
  content: "\e9fd";
}

.icon-md-notifications:before {
  content: "\e9c1";
}

.icon-md-notifications-outline:before {
  content: "\e9c6";
}

.icon-md-photos:before {
  content: "\e9d0";
}

.icon-md-pin:before {
  content: "\e9d4";
}

.icon-md-qr-scanner:before {
  content: "\e9e4";
}

.icon-md-planet:before {
  content: "\e9e6";
}

.icon-md-school:before {
  content: "\e9fb";
}

.icon-md-settings:before {
  content: "\ea01";
}

.icon-md-stats:before {
  content: "\ea0a";
}

.icon-md-sync:before {
  content: "\ea11";
}

.icon-md-trash:before {
  content: "\ea1e";
}

.icon-weixin:before {
  content: "\e694";
}

.icon-md-arrow-dropdown:before {
  content: "\e907";
}

.icon-md-arrow-dropleft:before {
  content: "\e90b";
}

.icon-md-arrow-dropup:before {
  content: "\e90d";
}

.icon-md-arrow-dropright:before {
  content: "\e90f";
}

.icon-md-arrow-round-back:before {
  content: "\e911";
}

.icon-md-arrow-round-down:before {
  content: "\e912";
}

.icon-md-arrow-round-up:before {
  content: "\e913";
}

.icon-md-arrow-round-forward:before {
  content: "\e914";
}

.icon-md-attach:before {
  content: "\e916";
}

.icon-md-barcode:before {
  content: "\e918";
}

.icon-md-at:before {
  content: "\e91c";
}

.icon-md-checkmark:before {
  content: "\e942";
}

.icon-md-checkmark-circle:before {
  content: "\e943";
}

.icon-md-clipboard:before {
  content: "\e945";
}

.icon-md-close:before {
  content: "\e946";
}

.icon-md-close-circle:before {
  content: "\e948";
}

.icon-md-close-circle-outline:before {
  content: "\e94a";
}

.icon-md-contact:before {
  content: "\e959";
}

.icon-md-cut:before {
  content: "\e964";
}

.icon-md-cube:before {
  content: "\e965";
}

.icon-md-eye:before {
  content: "\e96c";
}

.icon-md-eye-off:before {
  content: "\e96e";
}

.icon-md-happy:before {
  content: "\e989";
}

.icon-md-heart:before {
  content: "\e98e";
}

.icon-md-heart-empty:before {
  content: "\e991";
}

.icon-md-help-circle:before {
  content: "\e994";
}

.icon-md-help-circle-outline:before {
  content: "\e996";
}

.icon-md-home:before {
  content: "\e998";
}

.icon-md-image:before {
  content: "\e99a";
}

.icon-md-information-circle:before {
  content: "\e99e";
}

.icon-md-laptop:before {
  content: "\e9a3";
}

.icon-md-link:before {
  content: "\e9a5";
}

.icon-md-lock:before {
  content: "\e9a7";
}

.icon-md-moon:before {
  content: "\e9ba";
}

.icon-iconset0133:before {
  content: "\e620";
}

.icon-iconset0148:before {
  content: "\e62f";
}

.icon-iconset0156:before {
  content: "\e637";
}

.icon-iconset0278:before {
  content: "\e6b1";
}

.icon-iconset0352:before {
  content: "\e6fb";
}

.icon-iconset0448:before {
  content: "\e747";
}

.icon-iconset0455:before {
  content: "\e74e";
}

.icon-chongwugou:before {
  content: "\e77d";
}

.icon-chongwugouliang:before {
  content: "\e77e";
}

.icon-tuwenxiangqing:before {
  content: "\e600";
}

.icon-xuexi:before {
  content: "\e7f1";
}

.icon-translate:before {
  content: "\eaf0";
}

.icon-chrome:before {
  content: "\e77f";
}

.icon-baidu:before {
  content: "\e780";
}

.icon-yingyong:before {
  content: "\e781";
}

