* {
  margin: 0;
  padding: 0;
  color: #4d5656;
}
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  text-decoration: none;
}
ul li {
  list-style: none;
}
nav a {
  margin-left: 32px;
}
nav a.active {
  color: #71b3dd;
}
body {
  background-color: #ecf0f3;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 500px;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hander {
  width: 100%;
  height: 30px;
  line-height: 30px;
  z-index: 1;
  background-color: #ecf0f3;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff;
  box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff;
}
.content {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  background-color: #ecf0f3;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff;
  box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff;
}
.content section {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.content section.active-section {
  opacity: 1;
}
.main {
  position: relative;
  width: 300px;
  height: 400px;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.banner_small {
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.logo {
  position: absolute;
  top: 37%;
  left: 33%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.logo_small {
  position: absolute;
  top: 70px;
  left: 120px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-animation: light 4s ease-in-out infinite;
  animation: light 4s ease-in-out infinite;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.logo_small:hover {
  -webkit-transform: scale(1.15) rotate(720deg);
  -ms-transform: scale(1.15) rotate(720deg);
  transform: scale(1.15) rotate(720deg);
}
.name {
  margin: 0 auto;
  margin-top: 75px;
  height: 20px;
  width: 100%;
  line-height: 20px;
  font-size: 22px;
  text-align: center;
}
.motto {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.connection {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.connection ul li {
  float: left;
  margin-left: 30px;
  -webkit-animation: light 4s ease-in-out infinite;
  animation: light 4s ease-in-out infinite;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.connection ul li i {
  font-size: 20px;
}
.connection ul li:hover {
  -webkit-transform: scale(1.15) rotate(720deg);
  -ms-transform: scale(1.15) rotate(720deg);
  transform: scale(1.15) rotate(720deg);
}
.connection ul li:first-of-type {
  margin-left: 0px;
}
.about {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  margin: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 15px;
  background: #ecf0f3;
  -webkit-box-shadow: inset 5px 5px 10px #b1b4b6, inset -5px -5px 10px #ffffff;
  box-shadow: inset 5px 5px 10px #b1b4b6, inset -5px -5px 10px #ffffff;
}
.box {
  margin: 20px;
  margin-top: 0px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  background: #ecf0f3;
  -webkit-box-shadow: inset 5px 5px 10px #b1b4b6, inset -5px -5px 10px #ffffff;
  box-shadow: inset 5px 5px 10px #b1b4b6, inset -5px -5px 10px #ffffff;
}
#boxs {
  margin: 0px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#boxs::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#boxs::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: #eee;
}
#boxs::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #aaa;
}
.track-list li {
  position: relative;
  padding: 10px 0 0 20px;
  margin-left: 15px;
  border-left: 2px solid #aaa;
}
.track-list li .node-icon {
  position: absolute;
  left: -10px;
  top: 50%;
  height: 18px;
  border-radius: 50%;
  background-color: #ecf0f3;
}
.track-list li .time {
  position: relative;
  font-size: 12px;
  width: 100%;
  top: 4px;
  display: inline-block;
  vertical-align: middle;
}
.track-list li .txt {
  position: relative;
  font-size: 12px;
  top: 2px;
  display: inline-block;
  vertical-align: middle;
}
.web {
  width: 75%;
  height: 20px;
  text-align: center;
  background: #fafafa -o-repeating-linear-gradient(135deg, #fff, #fff 1.125rem, transparent
        1.125rem, transparent 2.25rem);
  background: #fafafa
    repeating-linear-gradient(
      -45deg,
      #fff,
      #fff 1.125rem,
      transparent 1.125rem,
      transparent 2.25rem
    );
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
}
.tips {
  width: 73%;
  border-bottom-right-radius: 2px;
  border-left: 4px solid #2ecc71;
  border-right: 4px solid #2ecc71;
  border-top-right-radius: 2px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  position: relative;
  background-color: #f8f8f8;
  font-size: 15px;
}
.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}
